extends layout

block content
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/chat.js")
  script(type="text/javascript", src="/javascripts/game.js")
  h1= title
  p Welcome to #{title}

  div.container-fluid.col-sm-12
    div.col-sm-9
      table(id='board')
        tbody 
          each row in game_board
            tr
            if row
              each tile in row
                if tile
                  if tile.letter != 0
                    td.board_tile(data-row=tile.row, data-column=tile.column)= tile.letter.value
                  else if tile.premium != 0
                    td.board_tile(data-row=tile.row, data-column=tile.column)= tile.premium
                  else
                    td.board_tile(data-row=tile.row, data-column=tile.column)= '.'
      br
      br
      h4 My Score: 34
      table
        thead
          tr
            th.rack.head(colspan='7') Rack
        tbody
          tr
            each val in ['D', 'B', 'V', 'Z', 'Q', '', 'E']
              td.rack.letter= val
      br

      div.col-sm-9
        button.col-sm-3(id='play') Play
        button.col-sm-3 Swap
        button.col-sm-3 Pass

    div.col-sm-3
      div
        h3 Remaining Tiles: 
          p(id='tile_count') 56

      
      include chat.pug