extends layout

block content
  
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                h2 logo
            .navbar-collapse
                ul.navbar-right
                  .ui.stacked.segment
                    .field
                      .ui.input
                          a(href='#') Lobby
                          a(href='#') My Account
                          a(href='#') Logout

                            
    .container-fluid.scrollable
        .right-section
            table
              thead
                tr
                  th.rack.head(colspan='3') Leadership Board
              tbody
                tr
                  each val in ['Name','Win%','Score']
                    td.next.value= val
            h2 Chat
            div.chatwindow
              ul#messages
        .left-section
            form(method='POST' action='')
                h1 Create New Game
                .column
                  | Select Players
                  |&nbsp;
                  select(name="playervalue")
                    option(value=2) 2
                    option(value=3) 3
                    option(value=4) 4
                .column
                  button.btn.btn-primary(type='submit') Create Game
                .column
                  table
                    thead
                      tr
                        th.rack.head(colspan='3') Games
                        tr
                        each val in ['Created By','Number of Players','Status','Join/Spectate']
                          td.next.value= val 
                    tbody
                      each row in games
                        tr
                          td.game_row.value= row.creator_id
                          td.game_row.value=row.num_players
                          td.game_row.value=row.status


